body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #f0f0f0;
    padding: 2rem;
    text-align: center;
}

.hero-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1rem;
}

.bio {
    margin-top: 2rem;
}

.bio-title {
    font-weight: bold;
    font-size: 24px;
}

.bio-text {
    font-size: 18px;
    margin-bottom: 1rem;
}

.projects {
    background-color: #fff;
    padding: 2rem;
}

.project-container {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem;
    width: 20.875rem;
}

.project-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.project-details {
    font-size: 16px;
    margin-bottom: 1rem;
}
